.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa;
  overflow: hidden;
}

.main-content {
  flex: 1;
  margin-left: 280px;
  padding: 2% 2%;
  //min-height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    //padding: 1rem;
    min-height: 100vh;
    overflow: hidden;
  }
}
